#event_tasks {
	border: 2px solid black;
	border-radius: 5px;
	overflow: hidden;
	max-width: 500px;
	margin-left: 10px;
}

.event_task {
	border: 2px solid black;
	padding: 5px;
	overflow: hidden;
	max-width: 500px;
	background-color: #5F5F5F;
	/*border-radius: 5px;*/
	/*margin-left: 10px;*/
}

.event_task_header {
	display: block;
}

.event_task_title {
	font-size: 1.5em;
	float: left;
}

.event_task_expander {
	border: 4px solid black;
	background-color: #AFAFAF;
	border-radius: 20px;
	width: 1.5em;
	height: 1.5em;
	float: right;
	top: 10px;
	text-align: center;
	background-image: url('images/plus.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	cursor: pointer;
}

.event_task_expander:hover {
	background-color: white;
}

.event_task_details {
	clear: both;
}

.event_signup_info {
	clear: both;
	float: left;
	margin-left: 10px;
	font-size: 0.8em;
}

.slots_full {
	margin-bottom: 15px;
}

.sign_up_list {
	margin-left: 5px;
}

.sign_up_list > ul > li {
	display: block;
}

.event_sign_up_button {
	display: block;
	float: right;
	margin-right: 10px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	margin-top: 20px;
	background-color: #AFAFAF;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	font-size: 1.2em;
}

.event_sign_up_button:hover {
	background-color: #FFF;
	color: #000;
}

