/*CSS for event creator*/

.event_creator_top_div{
    border: 2px solid black;
    /*border-radius: 10px;*/
    display: block;
    background-color: #eee;
    padding: 0px;
    overflow: hidden;
    width: 300px;
    margin-bottom: 20px;
}

.event_creator_top_field{
    margin: 0px;
    padding: 5px 2px 5px 2px;
    color: #000;
    display: block;
    background-color: #E0E0E0;
    width: 100%;
    outline: none;
    font-size: 1.0em;
}

#datepicker {
    font-size: 0.5em;
}

#event_creator_textarea{
    width: 294px;
}

#event_creator_task_container {
	display: table;
}

.event_creator_task_header {
	display: table-header-group;
}

.event_creator_task {
	width: 400px;
	background-color: #eee;
	border: 1px solid black;
	padding: 5px;
	overflow: hidden;
	display: table-row;
	margin-bottom: 20px;
}

.event_creator_task_title {
	display: table-cell;
    width: 100%;
    margin: 0px;
    color: #000;
    display: block;
    background-color: #E0E0E0;
    width: 100%;
    outline: none;
    font-size: 1.0em;
}

.event_creator_slots {
	width: 1em;
	font-size: 1em;
	display: table-cell;
    width: 2em;
    margin: 0px;
    color: #000;
    display: block;
    background-color: #E0E0E0;
    outline: none;
    font-size: 1.0em
}

.event_creator_comments_checkbox {
	display: table-cell;
	margin: 5px;
}

#event_tasks_table{
    border: 2px solid black;
    background-color: #eee;
}

#th_desc{
    width: 300px;
}

.td_div{
    padding: 2px 5px 2px 5px;
}

.th{
    text-align: left;
}

#th_delete{
    width: 70px;
}

#th_signups{
    text-align: center;
}

.creator_footer{
    height: 80px;
}

#date_fieldset {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

#date_legend {

}