body {
	background-color: #A60000;
	font-family: Verdana;
    margin:0px;
    padding:0px;
}

#nav_bar{
    position: fixed;
    z-index: 10;
    background-color: #FFFFFF;
    border-bottom: thick solid  #000000;
    width: 100%;
    min-width: 300px;
    height: 65px;
    margin-bottom: 5px;
    padding: 5px;
}

#inner_navbar{
    width:97%;
}

#float_left{
    float:left;
}

#float_right{
    float: right;
}

.header_button {
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    display: inline-block;
    padding: 1px;
}

.header_button:hover {
    background-color: #9E9E9E;
}

#page_content{
    padding-top: 100px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    height:auto;
    width: auto;
}

#view_content{
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
}

#sign_in_form {
    display: inline;
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type=text], input[type=password] {
    margin: 0px;
    padding: 5px 2px 5px 2px;
    /*border: 1px dotted black;*/
    /*border-bottom: 1px solid #eee;*/
    /*border-radius: 3px;*/
    color: #000;
    display: block;
    background-color: #E0E0E0;
    width: 100%;
    outline: none;
    font-size: 1.0em;
}

input[type=submit] {
    padding: 5px 3px 5px 3px;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    font-size: 1.0em;
    display: inline-block;
}

input[type=submit]._3D {
    font-size: 0.8em;
    margin-bottom: 5px;
    box-shadow: 0px 5px 0px #888;
    background-color: #AAA;
    border-radius: 0px;
    border: 0;
    outline: none;
    position: relative;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ededed;
}

input[type=submit]._3D:active {
    box-shadow: 0px 0px 0px #000;
    top: 5px;
}

::-webkit-input-placeholder {
   color: #777;
   font-size: 1.0em;
}

:-moz-placeholder { /* Firefox 18- */
   color: #777;  
   font-size: 1.0em;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777;  
   font-size: 1.0em;
}

:-ms-input-placeholder {  
   color: #777;  
   font-size: 1.0em;
}