body {
	background-color: #A60000;
	font-family: Verdana;
    margin: 15px;
}

#nav_bar{
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
    width: auto;
    min-width: 300px;
    margin:5px;
    height: 65px;
    padding: 5px;
}

#float_left{
    float:left;
}

#float_right{
    float:right;

}

#hello_world_div {
	background-color: #404040;
	color: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 10px;
    text-align: center;
}