html{
    height: 100%;
}

textarea {
    font-family: inherit;
}

body {
	background-color: #A60000;
    background-image: url('images/noise_red.png');
    background-repeat: repeat;
    /*Still working on a better background image */
	font-family: Verdana;
    margin:0px;
    padding:0px;
    height: 100%;
    /*min-height 85%;*/
}

#nav_bar{
    position: fixed;
    z-index: 10;
    background-color: black;
    /*border-bottom: thick solid white;*/
    width: 100%;
    min-width: 300px;
    height: 75px;
    margin-bottom: 5px;
    padding: 5px 5px 10px 5px
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

div#about {
    color: black; /* white */
    /*margin-top: 25px;*/
    /*float:left;*/
    font-size: 1.6em; /* 2em */
    font-family: helvetica;
    /*width: 48%;*/
    margin: 10px;
    text-align: center;
    margin-bottom: 50px;
}

div#tabs {
    margin-top: 25px;
    /*float: right;*/
    /*margin-right: 80px;*/
}

#inner_navbar{
    width:97%;
}

#float_left{
    float:left;
}

#float_right{
    float: right;
}

#page_content{
    overflow: hidden;
    background-color: #FFDDDD; /*white;*/
    /*margin-top: 50px;*/
    padding-top: 5px;
    /*padding-bottom: 25px;*/
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
    height:auto;
    min-height: 85%;
    border-radius: 10px;
    /*width: auto;*/
    border: 2px solid black;
}

#page_content.front {
    /*margin-top: 50px;*/
    /*position: absolute;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

#page_content.front.event {
    margin-top: 10px;
}

#view_content{
    overflow: hidden;
    /*background-color: black;*/
    margin: 5px;
    padding: 5px;
    padding-top: 100px;
    height: auto;
    padding-bottom: 20px;
    /*min-height: 85%;*/
    /*width: auto;*/

    border: none;
    background-color: inherit;
}

#view_content.front {
    padding-top: 30px;
    padding-bottom: 20px;
}

#view_content.front.event {
    padding-top: 20px;
    padding-bottom: 0px;
}

#sign_in_form {
    display: inline;
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#top {
    display: block;
    background-color: #000;
}

#events_table {
    /*display: block;*/
    width: 95%;
    margin: 0px auto 0px auto;
    clear: both;
    table-layout: fixed;
    border-collapse: collapse;
}

.event {
    background-color: #DDD;
    border: 2px solid black;
    min-height: 20px;
}

td.event_title, td.event_description, td.event_share {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td.event_title {
    text-align: left;
    width: 20%;/*100px;*/
}

td.event_share {
    text-align: right;
    width: 20%;/*100px;*/
}

td.event_description {
    text-align: left;
    width: 60%;/*600px;*/
}

#info {
    display: none; 
    position: fixed; 
    background-color: white; 
    border-radius: 10px; 
    padding: 10px;
    border: 2px solid black;
    z-index: 100;
    width: 100px;
    text-align: center;
}

a.hover_link {
    text-decoration: none;
    color: inherit;
}

a.hover_link:hover {
    text-decoration: underline;
}

.form_text_field {
    padding: 5px 2px 5px 2px;
    color: #000;
    display: block;
    background-color: #E0E0E0;
    outline: none;
    font-size: 1.0em;
    margin: 2px 0px 2px 0px;
    /*border: 1px solid black;*/
    border-radius: 3px;
    width: 200px;
    font-family: inherit;
}

.form_text_field:focus {
    background-color: #ededed;
}

#page_title {
    display: block; 
    text-decoration: none; 
    font-size: 1.5em; 
    color: #888;
}

.success_message {
    color: #0F0F0F;
    background-color: #484;
    text-align: center;
    word-wrap: break-word;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    display: block;
    clear: both;
}

::-webkit-input-placeholder {
   color: #777;
   font-size: 1.0em;
}

:-moz-placeholder { /* Firefox 18- */
   color: #777;  
   font-size: 1.0em;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777;  
   font-size: 1.0em;
}

:-ms-input-placeholder {  
   color: #777;  
   font-size: 1.0em;
}