#tabs {
	width: 300px;
	margin: 0px auto;
	border: 0;
}

#bounding_tabs {
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow: hidden;
}

.tab {
	font-size: 1.5em;
	list-style: none;
	display: inline-block;
	border: 2px solid black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
	background-color: #800;
	color: #EEE;
	margin: 0px;
	cursor: pointer;
	width: 43%;
	text-align: center;
}

#_sign_in.tab {
	float:left;
}

#_sign_up.tab {
	float:right;
}

.tab.selected {
	background-color: #eee;
	color: #000;
	border-bottom: 2px solid #eee;
	border-left: 2px solid black;
	border-right: 2px solid black;
}


#tab_bar {
    margin-top: 0px;
    margin-left: -2px;
    margin-right: -2px;
	padding-left: 0px;
	margin-bottom: -2px;
	overflow: hidden;
}

.tab_content {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	background-color: #eee;
	padding: 0px;
	overflow: hidden;
	margin-left: -2px;
}

.error_message {
	background-color: #FDD;
	color: #F22;
	text-align: center;
	padding: 5px;
	display: none;
	width: 300px;
	margin-top: 28px;
}

.tab_text_field {
    margin: 0px;
    width: 100%;
    /*border: 1px dotted black;*/
    /*border-bottom: 1px solid #eee;*/
    /*border-radius: 3px;*/
}

.tab_button {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    width: 300px;
    font-size: 17px;
    color: #1E1E1E;
    background-color: grey;
    display: block;
    cursor: pointer;
    float: left;
    white-space: nowrap;
    height: 30px;
    margin-left: 0px;
    margin-bottom: -2px;
    padding: 0 10px 0 9px;
    outline: none;
}

.tab_button:hover   {
    background-color: dimgrey;
}

.tab_button:active {
    background-color: #1E1E1E;
    color: grey;
}
