.tab {
	list-style: none;
	display: inline-block;
	border: 2px solid black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
	background-color: #800;
	color: #EEE;
	margin: 0px;
}

.tab.selected {
	background-color: #ddd;
	color: #000;
	border-bottom: 2px solid #ddd;
	border-left: 2px solid black;
}

#tab_bar {
	padding-left: 0px;
	margin-bottom: -2px;
}

.tab_content {
	border: 2px solid black;
	border-radius: 5px;
	border-top-left-radius: 0px;
	width: 500px;
	background-color: #ddd;
	padding: 10px;
}